* {
    box-sizing: border-box;
    font-family: "Black Ops One", "Sans-Serif";
}

.window {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: #f3f4f6;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background: lightgray;
    border: 1px solid #d1d5db;
    border-radius: 9px;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    border: 2px solid #dcdcdc;
    width: 640px;
    height: 640px;
    flex-direction: column;
    background: white;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    border: 1px solid #25272b;
    flex: 1;
}

.panelBox p {
    line-height: 0;
}

.panelBox {
    /* color: #111827;
    padding: 12px; */
    /* background: rgb(133, 128, 128); */
    /* background: white;
    border-radius: 9px; */
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: relative;
}

span {
    margin: 0px 4px;
}

.panelBox:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

button {
    background: #3b82f6;
    color: white;
    border-radius: 5px;
}

.input {
    margin: 2px 3px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.panelBtn {
    margin: 0px 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 4px 7px;
}

.panelBtn:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.btn {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

#submitBtn {
    position: static;
    margin: 9px 25px 2px 25px;
    padding: 3px 7px;
}

#sizeInput:hover {
    cursor: grabbing;
}
#colorInput:hover {
    cursor: pointer;
}

.footer {
    position: absolute;
    text-align: center;
    font-size: 12px;
    line-height: 0.5;
    bottom: 10px;
    right: 40px;
}